@import url(./__photo/element__photo.css);
@import url(./__group/element__group.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);


.element {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}
